@* SelfHostedGoogleFonts: Register the tag helper. This could be moved to _ViewImports.cshtml to make it available globally *@
@addTagHelper *, SelfHostedGoogleFonts

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SelfHostedGoogleFonts.Sample</title>
    
    @* SelfHostedGoogleFonts: use the tag helper to request specific fonts. This will render a <link> tag. *@
    <google-fonts>
        <google-font spec="Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700"/>
        <google-font spec="Abril+Fatface"/>
    </google-fonts>
    
    @* Use the fonts! *@
    <style>
        p {
          font-family: Roboto;
        }
        h1 {
          font-family: Abril Fatface;
          font-weight: normal;
        }
    </style>
    
</head>
<body>
<main role="main">
    @RenderBody()
</main>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>